Farseer/Farseer Physics Engine 3.5/obj/
Farseer/Farseer Physics Engine 3.5/bin/
Farseer/Farseer Physics DebugView 3.5/bin/
Farseer/Farseer Physics DebugView 3.5/obj/
.vs/
*.user
SpriteSheetPacker/obj/
SpriteSheetPacker/bin/
packages/
Tools/local/
ZmobiesNow/Content/bin/
ZmobiesNow/Content/obj/
ælum/bin/
ælum/obj/
TestGame/bin/
TestGame/obj/
TestGameAssets/bin/
TestGameAssets/obj/
