Farseer/Farseer Physics Engine 3.5/obj/
Farseer/Farseer Physics Engine 3.5/bin/
Farseer/Farseer Physics DebugView 3.5/bin/
Farseer/Farseer Physics DebugView 3.5/obj/
.vs/
*.user
SpriteSheetPacker/obj/
SpriteSheetPacker/bin/
packages/
Tools/local/
ZmobiesNow/Content/bin/
ZmobiesNow/Content/obj/
ælum/bin/
ælum/obj/
TestGame/bin/
TestGame/obj/
TestGameAssets/bin/
TestGameAssets/obj/
ælum/Generated/
Pipeline/obj/
*.pdb
Pipeline/bin/ToolConf
Aelum/obj/
Aelum/bin/
TestGame2/obj/

PipelineTool2/obj/
PipelineTool2/bin/
sh.exe.stackdump
