body {
    margin: 0;
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a :hover {
    text-decoration: underline;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.Box {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.Box-body {
    border-bottom: 1px solid #e1e4e8;
    padding: 16px;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 32px;
}

.markdown-body .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.octicon-mark-github {
    fill: currentColor;
    color: #fff;
    padding: 8px;
}

.octicon-link {
    fill: currentColor;
    color: #000;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}